<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WP Exam</title>
</head>
<body>
<!-- The form should submit to NewsController.create or NewsController.update,
     depending on whether we are creating or editing an entity -->
<form method="POST" th:action="@{'/news/{id}' (id=${story?.getId()})}">
    <div>
        <label for="name">Name</label>
        <input type="text"
               id="name"
               name="name"
               th:value="${story?.getName()}"
               required>
    </div>
    <div>
        <label for="description">Description</label>
        <input type="text"
               id="description"
               name="description"
               th:value="${story?.getDescription()}"
               required>
    </div>
    <div>
        <label for="price">Price</label>
        <input type="number"
               id="price"
               name="price"
               th:value="${story?.getPrice()}"
               required>
    </div>
    <div>
        <label>News Type</label><br/>
        <select name="type" id="type">
            <!-- For each type you should have one <option> like below  -->
            <th:block th:each="type:${types}">
                <option th:value="${type.name()}" th:text="${type.name()}"
                        th:selected="${story?.getType()?.equals(type)}"> [type.name]
                </option>
            </th:block>
        </select>
    </div>
    <div>
        <label>News category</label><br/>
        <select name="category" id="category">
            <!-- For each location you should have one <option> like below  -->
            <th:block th:each="category:${categories}">
                <option th:value="${category.getId()}" th:text="${category.getName()}"> [category.name]</option>
            </th:block>
        </select>
    </div>

    <button id="submit" type="submit">Submit</button>
    <a id="back" href="/news" type="button" class="btn btn-primary">Back to news</a>
</form>

<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>

</body>
</html>
